*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body::before{
    position: absolute;
    top:0;
    content: '';
    width: 1440px;
    height: 465px;
    background-color: #293241;
    z-index: -1;
    

}
body{
    background-color: #BFD7E4;
}
header {
    
    width: 1440px;
    height: 465px;
    background-color: #293241;
   text-align: center;
}
header h1{

font-family: 'Staatliches';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
width: 282px;
height: 45px;
margin:107px 579px 0px 579px;
color:
#FFFFFF;
}
header p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 391px;
height: 46px;
margin:0px auto 2px;
color:
#FFFFFF;
}
#rosa{
    position: absolute;
 width: 750px;
height: 133px;
margin: 133px 345px  0 345px;
background-color: 
#F67669;
border-radius: 0px 0px 20px 20px;
transform: rotate(-180deg);
}
#rosa p{
font-family: 'Staatliches';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;
transform: rotate(-180deg);
margin-top: 50px;

}
main{
width: 750px;
height: 1075px;
margin:0 345px 392px 345px;

}
form{
width: 750px;
height: 1075px;
background: #FFFFFF;
border-radius: 0px 0px 20px 20px;
padding:31.66px 64px 63.74px 64px;
}
span{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color:#C1BCCC
}
.nome{

display:flex;
gap:22px;


}
fieldset{
    border:none;
}


.arg1 ,.arg2 ,.arg3,.arg4 label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#4E4958;
}

.arg2  {
margin-left: 22px;
}
.arg3 {
    margin-top:13px;
}
.arg3 input{
    margin-top: 7.93px;
}
.arg1 input{
 width: 300px;
height: 55.53px;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;
margin-top: 7.93px;
}
.arg2 input{
 width: 300px;
 height: 55.53px;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;
margin-top: 7.93px;

}
.arg3 input{
width: 622px;
height: 55.53px;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;

}


.arg4 {
    margin-top: 31.73px;
    width: 234px;
    height: 23.8px;
}
select{
width: 300px;
height: 55.53px;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;
margin-top: 7.93px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color:#4E4958;
padding: 12px;
}

.info, .info2{
    display: flex;
    justify-content: center;
    border-bottom:1px solid #E6E6F0;
    padding-bottom: 7.93px;
}

.info h1 {
margin-top: 31.73px;
width: 212.8px;
height: 33.70px;
font-family: 'Staatliches';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
}

.info2 h1{
 font-family: 'Staatliches';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
margin-top: 31.73px;
width: 258px;
height: 34px;
}
.arg5{
    margin-top: 31.73px;
}
.arg5 label{
    
width: 188px;
height: 23.8px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #4E4958;
}
textarea{
 margin-top: 7.93px;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;
width: 608px;
height: 166.59px;
}

.arg6{
    display:flex;
    align-items: center;
    margin-top: 29px;
    gap: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
}

.arg6 input{ 
    width: 24px;
    height: 24px;
    
}

.arg7{
 display:flex;
 margin-top: 31px;
 gap:32px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #4E4958;
}
.data label{
    align-items: center;
    display:flex;
    gap: 6px;
}
.data input{
width: 300px;
height: 55.30px;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;
margin-top: 7.93px;
}
.das input{
width: 140px;
 height: 55.53px;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;
margin-top: 7.93px;
}
.ate input{
 width: 140px;
height: 55.53px;
background: #FAFAFC;
border: 1px solid #E6E6F0;
border-radius: 8px;
margin-top: 7.93px;

}

.button{
    border:none;
}
.button input{
margin-top: 61.73px;
width: 622px;
height: 51px;
left: 409px;
top: 1423px;
background: #F67669;
border-radius: 8px;
font-family: 'Staatliches';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color:white

}